doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title kessel
    link(rel='stylesheet', href='kessel.css')
  body
    .container
      block content
    footer
        h6 hallo_welt
